{% load static bootstrap4 %} {# Display django.contrib.messages as Bootstrap alerts #}
{% comment %}
  {% load dashboardconfig %}
{% DashboardConfigs as config %}
{% endcomment %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% bootstrap_messages %}{% block title %} Activation Sent {% endblock %} {% block head_block %} {% endblock %}

{% block content %}

 <div class="container">
    <!-- Outer Row -->
    <div class="row justify-content-center">

      <div class="col-xl-6 col-lg-6 col-md-6">

        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
              <div class="col-lg-12">
                <div class="p-5">
                  <div class="text-center">
                    <a href="/"><img src="{% if config.site_logo %} {{config.site_logo}} {% endif %}" alt="{{config.site_name}}" title="{{config.site_name}}" width="30%"></a>
                  </div>
                  <hr>
                  <div class="text-center">
                  	Please Check Your Mail (Inbox or Spam) For Activation link
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>

{% endblock %}
