{% extends 'users/base_accounts.html' %}
{% load static bootstrap4 %}

{% comment %}
  {% load dashboardconfig %}
{% DashboardConfigs as config %}
{% endcomment %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
{% block title %}  Login {% endblock %}
{% block content %}
<style>
  .card{
    background-color: #ffffff00!important;
  }
  input.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff!important;
    background-clip: padding-box;
    border: 0px!important;
    border-radius: .5rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
input[type=text]{
    background-color: #ffffff!important;
}
/* #myelement {
  position: relative;
  overflow: hidden;
  transform: rotate(30deg);
}

#myelement::before {
  content: "";
  position: absolute;
  width: 200%;
  height: 200%;
  top: -50%;
  left: -50%;
  z-index: -1;
    transform: rotate(-30deg);

  /*background: url({% static 'images/purple.png' %}) 0 0 no-repeat;*/
  /*style="background-image:url({% static 'images/purple.png' %}); background-position:center center; background-size:cover"
  }*/

#ele{
  /*background-image:url({% static 'images/new-design-1.png' %});*/ 
  /*background-position:center center; */
  /*background-size:cover;*/
  /*-webkit-animation: rotation 2s infinite linear;*/

}

@-webkit-keyframes rotation {
  from {
      -webkit-transform: rotate(0deg);
  }
  to {
      -webkit-transform: rotate(359deg);
  }
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
 .ele{
  background-image:url({% static 'images/new-design-1.png' %}); 
  background-position:center center; 
  background-size: cover; 
  height: 100vh;
}
/*@media only screen and (max-width: 600px) {
  body{
    background-image:url({% static 'images/new-web.jpeg' %});
    background-size: cover;
  }

  #ele{
    background-image:url({% static 'images/redesign-BACKGROUND.png' %}); 
    background-position:center center; 
    background-size:cover;
  }
}*/
</style>
<div class="ele">
  <div class="container centered">

    <!-- Outer Row -->
    <div class="row justify-content-center">
      <!-- <img src="{% static 'images/redesign-BACKGROUND.png' %}" alt="" style="width:100%;"> -->
        <div class="actions col-lg-5 col-md-5">
          <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0 ">
              <!-- Nested Row within Card Body -->
              <!-- <div class="row" > -->
                <div class="col-lg-12" id="ele">
                  <div class="p-5">
                    <div class="text-center">
                      <!-- {% if config.site_logo %}<a href="/"><img src="{{config.site_logo.url}}" alt="{{config.site_name}}" title="{{config.site_name}}" width="30%"></a>{% endif %} -->
                      <h1 class="h4 text-white mb-4">Welcome</h1>
                    </div>
                    <form id="mainForm" class="user" role="form" method="post">
                      {% csrf_token %}                        
                        {% bootstrap_form form %}
                      {% buttons %}
                      <div class="form-group">
                        <div class="custom-control custom-checkbox small">
                          <input type="checkbox" class="custom-control-input" id="customCheck">
                          <label class="custom-control-label" for="customCheck">Remember Me</label>
                        </div>
                      </div>
                      <button id="submit" class="btn btn-primary btn-user btn-block" type="submit">Let's Begin</button>
                      <hr>
                      {% comment %}
                      <!-- <a href="{% url 'social:begin' 'facebook' %}" class="btn btn-facebook btn-user btn-block">
                        <i class="fab fa-facebook-f fa-fw"></i> Login with Facebook
                      </a> -->
                      {% endcomment %}
                      <script type="text/javascript">
                          $(function(){
                              $(".alert-message").alert();
                              $('#mainForm').submit(function(){
                                  $('#submit').button('loading');
                              })
                          });
                          document.forms[1].elements[2].focus();
                      </script>
                      {% endbuttons %}
                    </form>
                    <div class="text-center text-white ">
                      <a class="small text-white" href="{% url 'users:password_reset' %}">Reset Password</a>
                    </div>

                    <div class="text-center text-white">
                      <a class="small text-white" href="{% url 'users:signup_user' %}">Create an Account!</a>
                    </div>
                    <div class="text-center text-white py-3">
                      <p class="m-0 text-center text-dark">Copyright © 2019</p>
                    </div>

                  </div>
                </div>
              <!-- </div> -->
            </div>
          </div>
        </div>
    </div>

  </div>
</div>
{% endblock %}
