{{% extends 'users/base_accounts.html' %}
{% load static bootstrap4 %}

{% comment %}
  {% load dashboardconfig %}
{% DashboardConfigs as config %}
{% endcomment %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
{% block title %}  Password Reset Complete {% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-4">
            <div class="login-panel panel panel-default">
            <!-- <center><a href="/"><img src="{% if config.site_logo %} {{config.site_logo}} {% else %} https://otextcity.com/images/loggo.png {% endif %}" alt="{{config.site_name}}" title="{{config.site_name}}" width="30%"></a></center> -->
                <div class="panel-heading">
                    <center>
                        <h3 class="panel-title"> 
                            Your password has been set. You may go ahead and <a href="{% url 'users:user_login' %}">login in</a> now.
                        </h3
                    ></center>
                </div>
                
            </div>
        </div>
    </div>
</div>
 <div class="container">
    <!-- Outer Row -->
    <div class="row justify-content-center">

      <div class="col-xl-12 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
              <div class="col-lg-6 d-none d-lg-block bg-login-image">
              </div>
              <div class="col-lg-6">
                <div class="p-5">
                  <div class="text-center">
                    <a href="/"><img src="https://otextcity.com/images/loggo.png" alt="Otextcity" title="Otextcity" width="30%"></a>
                    <h1 class="h4 text-gray-900 mb-4">Reset Pasword!!!</h1>
                  </div>
                  <p>
                  Your password has been set. You may go ahead and <a href="{% url 'users:user_login' %}">login in</a> now.
                  </p>
                  <hr>
                  <div class="text-center">
                    <a class="small" href="{% url 'users:signup_user' %}">Register</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>
{% endblock %}