{% extends 'users/base_accounts.html' %}
{% load static bootstrap4 %}

{% comment %}
  {% load dashboardconfig %}
{% DashboardConfigs as config %}
{% endcomment %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
{% block title %}  Password Reset Done{% endblock %}
{% block content %}
 <div class="container">
    <!-- Outer Row -->
    <div class="row justify-content-center">

      <div class="col-xl-6 col-lg-6 col-md-6">

        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
              <div class="col-lg-12">
                <div class="p-5">
                  <div class="text-center">
                    <!-- <a href="/"><img src="{% if config.site_logo %} {{config.site_logo}} {% else %} https://otextcity.com/images/loggo.png {% endif %}" alt="{{config.site_name}}" title="{{config.site_name}}" width="30%"></a> -->
                    <h1 class="h4 text-gray-900 mb-4">Reset Pasword!!!</h1>
                  </div>
                  <p class="text-center">
                     We've emailed you instructions for setting your password, if an account exists with the email you entered.
                          You should receive them shortly.
                        <br>
                          If you don't receive an email, please make sure you've entered the address you registered with,
                          and check your spam folder.
                  </p>
                  <hr>
                  <div class="text-center">
                    <a class="small" href="{% url 'users:user_login' %}">Login!</a>
                  </div>
                  <div class="text-center">
                    <a class="small" href="{% url 'users:signup_user' %}">Register</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>
    <!-- jQuery -->
{% endblock %}