{% extends 'users/user_base.html' %}
<!-- Required Resources -->
{% load static bootstrap4 %} {# Display django.contrib.messages as Bootstrap alerts #}
{% comment %}
  {% load dashboardconfig %}
{% DashboardConfigs as config %}
{% endcomment %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% bootstrap_messages %}{% block title %} Profile {% endblock %} 
{% block head_block %} 
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-rating/1.5.0/bootstrap-rating.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/easy-pie-chart/2.1.6/jquery.easypiechart.min.js"></script>
{% endblock %}

{% block content %}
<div class="container py-4 my-2">
    <div class="row">
        <div class="col-md-4 pr-md-5">
            <img class="w-100 rounded border" src="{{user.user_profile.get_photo_url}}" />
            <div class="pt-4 mt-2">
                <section class="mb-4 pb-1">
                    <div class="work-experience pt-1">
                        <div class="work mb-4">
                            <strong class="h5 d-block text-secondary font-weight-bold mb-1">Tagline</strong>
                            <p class="text-secondary">{{user.user_profile.status_word}}</p>
                        </div>
                    </div> 
                    <!-- <h3 class="h6 font-weight-light text-secondary text-uppercase">Work Experiences</h3>
                    <div class="work-experience pt-2">
                        <div class="work mb-4">
                            <strong class="h5 d-block text-secondary font-weight-bold mb-1">Prodesign Inc</strong>
                            <strong class="h6 d-block text-warning mb-1">Front End Developer</strong>
                            <p class="text-secondary">Southern Street Floral Park, NY 11001</p>
                        </div>
                        <div class="work mb-4">
                            <strong class="h5 d-block text-secondary font-weight-bold mb-1">Blue Tech</strong>
                            <strong class="h6 d-block text-warning mb-1">Senior Programmer</strong>
                            <p class="text-secondary">George Avenue Mobile, AL 36608</p>
                        </div>
                    </div>     -->
                </section>
                <!-- <section class="mb-5 mb-md-0">
                    <h3 class="h6 font-weight-light text-secondary text-uppercase">Skills</h3>
                    <div class="skills pt-1 row">
                        <div class="col-4 mb-2">
                            <div class="chart" data-percent="95" data-scale-color="#fff"><span>PHP</span></div>
                        </div>
                        <div class="col-4 mb-2">
                            <div class="chart" data-percent="85" data-scale-color="#fff"><span>Ruby</span></div>
                        </div>
                        <div class="col-4 mb-2">
                            <div class="chart" data-percent="90" data-scale-color="#fff"><span>Java</span></div>
                        </div>
                        <div class="col-4 mb-2">
                            <div class="chart" data-percent="82" data-scale-color="#fff"><span>Python</span></div>
                        </div>
                        <div class="col-4 mb-2">
                            <div class="chart" data-percent="70" data-scale-color="#fff"><span>C++</span></div>
                        </div>
                        <div class="col-4 mb-2">
                            <div class="chart" data-percent="60" data-scale-color="#fff"><span>ASP</span></div>
                        </div>
                    </div>
                </section> -->
            </div>
        </div>
        <div class="col-md-8">
            <div class="d-flex align-items-center">
                <h2 class="font-weight-bold m-0">
                    {{user.get_full_name}}
                </h2>
                <address class="m-0 pt-2 pl-0 pl-md-4 font-weight-light text-secondary">
                    <!-- <i class="fa fa-map-marker"></i>
                    Garden City, NY -->
                </address>
                {% if request.user.username == getUserProfile.user.username %}
                <button type="button" class="ml-3 btn btn-primary" data-toggle="modal" data-target="#editProfile">
                  Edit Profile
                </button>      
                {% endif %}          
            </div>
            <p class="h5 text-primary mt-2 d-block font-weight-light">
                {{user.user_profile.position}}
            </p>
            <p class="lead mt-4">{{user.user_profile.bio}}</p>
            <!-- <section class="d-flex mt-5">
                <button class="btn btn-light bg-transparent mr-3 mb-3">
                    <i class="fa fa-comments"></i>
                    Private Message
                </button>
                <button class="btn btn-light bg-transparent mr-3 mb-3">
                    <i class="fa fa-warning"></i>
                    Report User
                </button>
                <button class="btn btn-primary mb-3">
                    <i class="fa fa-check"></i>
                    Hire Me
                </button>
            </section> -->
            <section class="mt-4">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">
                            About
                        </a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">
                            Reviews    
                        </a>
                    </li> -->
                    <li class="nav-item">
                        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">
                            Recent Projects
                        </a>
                    </li>
                </ul>
                <div class="tab-content py-4" id="myTabContent">
                    <div class="tab-pane py-3 fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <h6 class="text-uppercase font-weight-light text-secondary">
                            Contact Information
                        </h6>
                        <dl class="row mt-4 mb-4 pb-3">
                            <dt class="col-sm-3">Phone</dt>
                            <dd class="col-sm-9">{{user.user_profile.phone}}</dd>
                            
                            <dt class="col-sm-3">Home address</dt>
                            <dd class="col-sm-9">
                                <address class="mb-0">
                                   {{user.user_profile.address}}
                                </address>
                            </dd>
                            
                            <dt class="col-sm-3">Email address</dt>
                            <dd class="col-sm-9">
                                <a href="mailto:{{user.email}}">{{user.email}}</a>
                            </dd>
                        </dl>
                        
                        <h6 class="text-uppercase font-weight-light text-secondary">
                            Basic Information
                        </h6>
                        <dl class="row mt-4 mb-4 pb-3">
                            <dt class="col-sm-3">Birthday</dt>
                            <dd class="col-sm-9">{{user.user_profile.date_of_birth}}</dd>
                            
                            <dt class="col-sm-3">Gender</dt>
                            <dd class="col-sm-9">{{user.user_profile.gender}}</dd>
                        </dl>
                    </div>
                    <!-- <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">...</div> -->
                    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
                </div>
            </section>
        </div>
    </div>
</div>
<script>
  (function(){
      $('input').rating();
      $('.chart').easyPieChart({
          barColor: "#007bff",
          trackColor: "#e6e6e6",
          lineCap: "square",
          lineWidth: 5,
          size: $(".skills").find(".col-4").find("span").width()
      });
  })(jQuery);
</script>
{% include "users/edit_profile.html" %}
{% endblock content %}